body {
  font-family: Arial, Helvetica, sans-serif;
}

tbody {
  border: 2px solid forestgreen;
  width: 900px;
  height: 200px;
  padding: 10px;
  background-color: antiquewhite;
}

th {
  border-bottom: 1px solid black;
}

td {
  text-align: center;
  padding: 5px;
}
tbody tr:nth-child(odd) {
  background-color: rgb(214, 210, 210);
}

tbody tr:nth-child(even) {
  background-color: rgb(194, 236, 241);
}
tbody tr:hover:nth-child(odd) {
  background-color: rgb(187, 185, 185);
  transform: scale(1.01);
}

tbody tr:hover:nth-child(even) {
  background-color: rgb(166, 200, 204);
  transform: scale(1.01);
}
